* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 420px;
    width: 420px;
    border: 1px solid black;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container .field {
    height: 140px;
    width: 140px;
    border: 1px solid black;
    cursor: pointer;
}